@model IEnumerable<Customer>
@{
    ViewBag.Title = "Weekly Pick-Ups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your @ViewBag.Title</h2>

<table id="customers"class="table table-bordered table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Address</th>
            <th>Weekly Pick-Up</th>
        </tr>
    </thead>
    @foreach(var customer in Model)
    {
    <tr>
        <td>@customer.NameFirstLast</td>
        <td>
            @customer.Address.AddressLine<br />
            @customer.Address.PostalCode.City.Name, @customer.Address.PostalCode.City.State.Name @customer.Address.PostalCode.Code
        </td>
        <td>@customer.WeeklyPickupDay.Name</td>
    </tr>
    }
</table>

@section scripts
    {
<script>
    $(document).ready(function () {
        $("#customers").DataTable();
    })
    </script>
    }

