@{
    ViewBag.Title = "Trash Collector";
}
@using Microsoft.AspNet.Identity;

<div class="jumbotron">
    <img src="~/Content/Media/home-banner.jpg" alt="Local trash pckup truck." />
</div>

@if (User.IsInRole(RoleName.Employee))
{
<div class="row">
    <div class="col-md-4">
        <h2>Your Dashboard</h2>
        <p>View the work orders scheduled today within your service area.</p>
        <p>@Html.ActionLink("Your Dashboard »", "EmployeeDashboard", "WorkOrder", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-default" })</p>
    </div>
</div>
}
else if (User.IsInRole(RoleName.Customer))
{
<div class="row">
    <div class="col-md-4">
        <h2>Billing History</h2>
        <p>Review your billing history and your current balance due.</p>
        <p>@Html.ActionLink("Billing History »", "Index", "Transaction", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Schedule a One-Time Pick-Up</h2>
        <p>Collected too much trash?  Can't wait for your next weekly pick-up?  Have a large item?  Schedule a one-time pick-up.</p>
        <p>@Html.ActionLink("Request Pick-Up »", "Create", "WorkOrder", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Your Account</h2>
        <p>Update your name, phone or address associated with your account.</p>
        <p>@Html.ActionLink("Your Account »", "Edit", "Customer", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-default" })</p>
    </div>
</div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <h2>About Trash Collector</h2>
            <p>
                All about your local trash collection services.  Who are we?
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>New Customer</h2>
            <p>Just move to the area?  Looking to take control of your trash services?</p>
            <p>@Html.ActionLink("Sign Up »", "RegisterCustomer", "AccountController", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Existing Customer</h2>
            <p>Sign in to access your account - schedule one-time pick-ups, change your weekly pick-up &amp view your current balance.</p>
            <p>@Html.ActionLink("Log In »", "Login", "AccountController", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
}
