@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>@Html.ActionLink("New Employee", "RegisterEmployee", "Account", null, new { @class = "btn btn-default" })</p>
</div>

<table id="employees" class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Service Postal Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.NameFirst</td>
                    <td>@employee.NameLast</td>
                    <td>@(employee.ServicePostalCode == null ? "" : employee.ServicePostalCode.Code)</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Employee", new { id = employee.UserId }, null)</td>
                </tr>
            }
    </tbody>
    
</table>

@section scripts
{
<script>
    $(document).ready(function () {
        $("#employees").DataTable();
    })
    </script>
    }

